.container {
    max-width: 1366px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.link, a, Link{
    text-decoration: none;
    color: inherit;
}
h1 {
    font-weight: 900;
    font-size: 3.6rem;
    color: #3e3e41;
} 
h2, h3, .title {
    font-weight: 600;
    font-size: 2rem;
    color: #3e3e41;
}
.title-sm {
    font-size: 1.6rem;
    font-weight: 600;
    color: #3e3e41;
}
.title-bld {
    font-weight: 600;
    color: #3e3e41;
}
ul {
    list-style: none;
    font-weight: 400;
    color: #1f1f1f;
}
span, label {
    font-size: 1rem;
    font-weight: 400;
    color: #3e3e41;
}
.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    &-sq {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
    }
}
.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-color {
    background-color: #f2efea;
}
.main-color {
    background-color: #faf9f5;
}
.big-font-color {
    color: #3e3e41;
}
.small-font-color {
    color: #1f1f1f;
}
.btn-color {
    background-color: #ff9e1f;
    color: #faf9f5;
    :hover {
        background-color: #eb4f47;
    }
}

.btn {
    &-create {
        margin: 0 1rem;
        padding: 1rem 4rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        background-color: #3f50b5;
        color: #faf9f5;
        font-size: 2rem;
        font-weight: 400;
        transition: all .2s ease-in;
    
        &:hover {
            background-color: #757ce8;
        }
    }
}

.box {
    &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        &_cl {
            margin: 5rem 0 0 0;
            flex-direction: column;
        }
    }
    &-shadow {
        border-radius: 10px;
        box-shadow: 5px 5px 15px 5px rgba(215, 210, 240, 0.75);
        -webkit-box-shadow: 5px 5px 15px 5px rgba(215, 210, 240, 0.75);
        -moz-box-shadow: 5px 5px 15px 5px rgba(215, 210, 240, 0.75);
    }
}

.icon {
    font-size: 1rem;
    &-positive {
        color: green;
    }
    &-negative {
        color: red;
    }
    &:hover {
        scale: 1.01;
    }
}


.update {
    &-form {
        display: flex;
        margin: 2rem .6rem 1rem .6rem;
        justify-content: space-between;
        &_left {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            &-item {
                display: flex;
                flex-direction: column;
                gap: .6rem;
                label {
                    font-weight: 600;
                }
                input, select {
                    padding: .2rem;
                    border: none;
                    height: 1.8rem;
                    color: #3e3e41;
                    background-color: #f2efea;
                    border-bottom: 1px solid #3e3e41;
                }
            }
        }
        &_right {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            &-upload {
                display: flex;
                align-items: center;
                gap: 4rem;
                border: 1px dashed #3e3e41;
                border-radius: 10px;
                padding: 1rem;
                .icon {
                    font-size: 4rem;
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    &:hover {
                        opacity: 0.75;
                        scale: .95;
                    }
                }
                img {
                    max-width: 16rem;
                    max-height: 16rem;
                    aspect-ratio: 1 / 1;
                    border-radius: 10px;
                    object-fit: cover;
                    cursor: pointer;
                }
                
            }
            button {
                align-self: center;
                width: calc(100% - 2rem);
                aspect-ratio: 5 / 1;
                border-radius: 10px;
                font-size: 1.8rem;
                font-weight: 400;
                border: none;
                cursor: pointer;
                background-color: #3f50b5;
                color: #faf9f5;
                transition: all .2s ease-in;
                &:hover {
                    background-color: #757ce8;
                }
            }
    }
}
}
.add__form {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.2rem;

    &-item {
        width: 24rem;
        display: flex;
        flex-direction: column;
        gap: .6rem;
        input {
            height: 2.4rem;
            padding: .4rem;
            border: 1px solid #3e3e41;
            border-radius: 5px;
            font-size: 1.2rem;
            color: #3e3e41;
        }
        &-radio {
            display: flex;
            align-items: center;
            gap: .8rem;
        }
        select {
            height: 2rem;
            width: 5rem;
            border: 1px solid #3e3e41;
            border-radius: 5px;
            padding-left: .2rem;
            font-size: 1rem;
        }
    }
}
.user_list, .product_list {
    flex: 6;
    width: 100%;
    padding: 1rem;
    &-item {
        display: flex;
        align-items: center;
        gap: .6rem;
        font-weight: 600;
    }
    &-action {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &-edit {
        width: 3rem;
        border: none;
        border-radius: 10px;
        padding: .3rem;
        background-color: #3bb077;
        color: white;
        cursor: pointer;
    }
    &-delete {
        cursor: pointer;
        color: red;
    }
}
